.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.home-container {
  height: 100%;
  
  width: 100%;
}



#home {
  
  position: absolute;
  margin:0px;
  border:none;
  background-size: cover;
}

.home-background {
  display: table;
  background: url("./assets/RTW2.jpg") no-repeat center center fixed;
  width: 100%;
  height: 100%;
  
}

.home-background-with-results {
  background: url("./assets/RTW2.jpg") no-repeat center center fixed;
  width: 100%;
  height: 44%;
  
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 3%;
  color: white;
  text-shadow: 2px 2px 2px #3d3d3d;
}

.landing-text-with-results {
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
  color: white;
  text-shadow: 2px 2px 2px #3d3d3d;
}


.navbar {
  /* font-family: 'Comfortaa', cursive; */
  font-family: 'Source Code Pro', monospace;
}

.search-input {
  width: 22%;
  margin-bottom:5px;
  text-align: center;
  border:none;
  font-size: 1.1rem;
}

.hero-text {
  font-family: 'Source Code Pro', monospace;
}

.code-icon {
  font-size: 1.5em;
  margin-right:5px;
  margin-bottom:3px;
}

.results-row {
  margin-top:30px;
  text-align:left;
}

.results-row p ul {
  margin-bottom:8px;
}

.results-row br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

.job-description-div {
  padding-right:5px;
}

.date {
  text-align:center;
}

.checkbox {
  margin-left:3px;
}

.middle-button {
margin-top:45%;
align-items: center;
}

.button-result {
  padding-left:5px;
  padding-right:5px;
}

.expander {
  padding-left:50%;
  font-size:1.8em;
}

.expander a {
  margin-left:-100px;
  font-size:.5em;
}

.card p {
  margin-bottom:6px;
}

.card-footer {
  padding:8px;
 
}

.card-footer br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 3px;
}

.card-body {
  padding:10px;
}


.button-save {
  margin:29px;

}

.nav-link:hover {
  cursor:pointer;
}

@media only screen and (min-width: 916px) {
  .button-save {
    margin:29px;
    margin-top:10px;
    margin-bottom:0px;
 }
}

.login-form {
  display:inline-flex;
  margin-top:5px;
  margin-left:5px;
}

.login-input {
  width: 200px;
  text-align: center;
  margin-right:3px;
  font-size: 1.1rem;
}

.submit-form {
  border:none;
  background:none;
}